.organic-breadcrumb {
    background: url("/img/bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 130px;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #3636c4;
}

.gradient-bg, .primary-btn, .add-bag .add-btn, .single-product .product-details .prd-bottom .social-info span:after, .grid-btn:hover, .list-btn:hover, .grid-btn.active, .list-btn.active, .pagination a.active, .pagination a:hover, .s_Product_carousel .owl-dots div.active, .s_product_text .card_area .icon_btn:after, .product_description_area .nav.nav-tabs li a.active, .blog-pagination .page-item.active .page-link, .single-footer-widget .click-btn {
    background: linear-gradient(90deg, #5131dc 0%, #33a89a 100%);
}

.pagination {
    border-left: none;
}